
html, body,  iframe,
h1 {
	margin: 0;
	padding: 0;
	border: 0;
    

}
body{
    background: #d9a7c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    
}
h1{
text-align: center;background-color:#01172F;color: white;
}
h3{
    text-align: center;    
}

.card{
    float: left;
    margin: 3px;
}
.subs{
    border: 2px solid black;
    border-radius:2px ;
    float: left;
    width: 45%;
    padding: 15px 0px 0px 0px;
    margin: 5px;
    text-align: center;
}
.subs a{
    font-size: 15px;text-decoration: none;
}

.main{
    font-size: 50px;padding-bottom: 5px ;
font-family: 'Playfair Display', serif;
}
.other{
    font-size: 50px;
font-family: 'Lobster', cursive;
}
.list{
    width: 30%;
    font-size: 20px;
    text-decoration: none;
    float:left;
    text-align: r;
}