
html, body,  iframe,
h1 {
	margin: 0;
	padding: 0;
	border: 0;
    

}
body{
    background: #d9a7c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    
}
h1{
text-align: center;background-color:#01172F;color: white;
}
h3{
    text-align: center;    
}

.container{
    display: grid;
    gap:1rem;
    padding-top: 1rem;
    justify-content: center;
}

.card{
    float: left;
}

.main{
    font-size: 50px;padding-bottom: 5px ;
font-family: 'Playfair Display', serif;
}
.other{
    font-size: 50px;
font-family: 'Lobster', cursive;
}
.list{
    width: 30%;
    font-size: 20px;
    text-decoration: none;
    float:left;
    text-align: r;
}


  footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

footer a {
    text-decoration: none;
    color: #d9a7c7;
}

@media screen and (min-width: 600px) {
    .container {
       display:flex;
    justify-content: space-between;
    gap:1rem;
    padding-top: 1rem;
    }
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
      }
  }